<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>__TITLE__</title>
    <meta property="og:title" content="__TITLE__" />
    <meta name="description" content="__DESCRIPTION__" />
    <meta property="og:description" content="__DESCRIPTION__" />
    <meta property="og:image" content="__IMAGE__" />
    <meta property="og:type" content="__PAGE_TYPE__" />

    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <h1>__BLOG_TITLE__</h1>
    </div>

    <div class="content">
        <div>__PAGE_CONTENT__</div>
        <div>
            <h2>Pages list:</h2>
            __PAGES_LIST__
        </div>
    </div>

    <div class="footer">
        __FOOTER_TEXT__
    </div>
</body>
</html>