<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>__TITLE__</title>
    <meta property="og:title" content="__TITLE__" />
    <meta name="description" content="__DESCRIPTION__" />
    <meta property="og:description" content="__DESCRIPTION__" />
    <meta property="og:image" content="__IMAGE__" />
    <meta property="og:type" content="__PAGE_TYPE__" />
    <meta property="og:url" content="__PAGE_URL__" />

    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <h1>__BLOG_TITLE__</h1>
    </div>

    <div class="top-navigation">
        <a href="index.html">&laquo; index</a>
    </div>

    <div class="content">
        <div>__PAGE_CONTENT__</div>
         <div>
             <h4>More articles:</h4>
             __PAGES_LIST_SHORT__
         </div>
    </div>

    <div class="clear"></div>

    <div class="footer">
        __FOOTER_TEXT__
    </div>
</body>
</html>